* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

:root {

  --border: red solid 1px;

  --bg-color: rgb(246, 246, 246);

  --primary-white: rgb(242, 242, 242);

  --secundary-white: rgb(234, 234, 233);

  --black: rgb(36, 36, 36);

  --grey: rgb(85, 85, 85);

  --light-grey: rgb(181, 181, 181);

  --primary-green: rgb(10, 118, 79);

  --secundary-green: rgb(3, 52, 45);

  --blue: rgb(5, 52, 219);

  --red: rgb(205, 48, 80);

  --shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.1);

  --shadow-hover: 1px 2px 6px 2px rgba(0, 0, 0, 0.3);

}

body {
  background-color: var(--bg-color);
  color: var(--black);
}

/* Header Container */
.header {
  background-color: var(--secundary-green);
  display: flex;
  justify-content: center;
  left: 0;
  min-width: 100%;
  position: sticky;
  top: 0;
  user-select: none;
  z-index: 9;
}

/* Container do Titulo e Icone */
.container-title {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  min-width: 70%;
}

/* Icones do Carrinho de compras */
.header i {
  background-color: var(--primary-green);
  color: var(--primary-white);
  cursor: pointer;
  font-size: 30px;
  padding: 6px;
  transition: all 0.3s ease-in-out;
}

.material-icons.shopping-cart-icon {
  border-radius: 5px;
  user-select: none;
}

.material-icons.highlight-off-icon {
  background-color: var(--red);
  border-radius: 50%;
  user-select: none;
}

.header i:hover {
  filter: brightness(1.5);
  box-shadow: var(--shadow-hover);
  transform: scale(1.2);
}

.cart.noVisible {
  display: none;
}

.title {
  color: var(--light-grey);
  font-size: 30px;
}

/* Container do Carrinho de compras */
.container-cartTitle {
  align-items: center;
  background-color: var(--primary-green);
  display: flex;
  min-height: 100%;
  justify-content: start;
  position: relative;
  min-width: 30%;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle:after {
  background: var(--primary-green);
  content: '';
  height: 15px;
  position: absolute;
  right: 61.5%;
  top: 15px;
  transform: skew(-45deg);
  width: 39.5%;
  z-index: 0;
}

.container-cartTitle:before {
  background: var(--primary-green);
  content: '';
  height: 15px;
  position: absolute;
  right: 61.5%;
  top: 30px;
  transform: skew(45deg);
  width: 39.5%;
  z-index: 0;
}

.cart__title {
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding-left: 35px;
}

/* Container principal */
.container {
  display: flex;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
}

.title strong {
  color: white;
}

/* Container dos Cards */
.items {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  min-width: 70%;
  min-height: 100%;
  padding: 70px;
}

.loading {
  align-items: center;
  border: 2px solid var(--secundary-white);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 400px;
  width: 250px;
}

/* Card */
.item {
  background-color: white;
  border: 2px solid var(--secundary-white);
  border-radius: 10px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  width: 250px;
}

.item:hover {
  border: 2px solid var(--blue);
  box-shadow: var(--shadow-hover);
  transition: all 0.3s ease-in-out;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  font-size: 1rem;
  flex-grow: 1;
  max-height: 60px;
  hyphens: auto;
  line-height: 1.3;
  margin: 10px;
  overflow: hidden;
  text-align: center;
  -webkit-line-clamp: 3;
}

.item .item__price span {
  hyphens: auto;
  text-align: start;
  text-overflow: ellipsis;
  word-break: break-word;
}

.item__price {
  padding: 10px;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: var(--blue);
  border: 0;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin: 0;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.item__add:hover {
  filter: brightness(1.4);
}

/* Container do Carrinho */
.cart {
  background-color: var(--secundary-white);
  box-shadow: var(--shadow);
  display: flex;
  flex-basis: 32%;
  flex-flow: column wrap;
  min-height: 100%;
  padding: 10px;
  text-align: center;
  min-width: 30%;
}

.total-text {
  padding: 10px;
}

.total-price {
  color: var(--primary-green);
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.empty-cart {
  border: 2px solid var(--blue);
  border-radius: 10px;
  background-color: var(--primary-white);
  cursor: pointer;
  font-weight: 600;
  height: 35px;
  margin: 0 auto 20px;
  width: 170px;
}

.empty-cart:hover {
  background-color: var(--red);
  border: 2px solid white;
  box-shadow: var(--shadow);
  color: white;
  transition: -webkit-box-shadow 0.2s ease-in-out, border 0.1s ease-in-out;
}

/* Todos os itens da lista */
.cart .cart__items {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 10px;
}

/* Cada item da lista */
.cart__item {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.cart__item img {
  border-radius: 10px;
}

.productContent {
  align-items: start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  text-align: start;
}

.productContent p {
  justify-content: flex-start;
}

.cart__item button {
  align-self: baseline;
  background-color: var(--secundary-white);
  border: 1px solid var(--grey);
  border-radius: 5px;
  color: var(--grey);
  cursor: pointer;
  font-weight: 800;
  padding: 5px 8px;
}

.productPrice {
  color: var(--primary-green);
  font-size: 1.2rem;
  font-weight: 600;
}

.cart__item button:hover {
  background-color: var(--red);
  box-shadow: var(--shadow-hover);
  color: white;
  font-weight: 600;
  transition: 150ms ease-in-out;
}

.footer {
  align-items: center;
  background-color: var(--secundary-white);
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 20px;
}

.footerList {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}

#github_logo {
  height: 2rem;
  filter: contrast(0.6);
}

#linkedin_logo {
  height: 3rem;
  filter: contrast(0.6);
}

.list-item img {
  margin: 10px;
  width: 100%;
}

.list-item a:hover img {
  fill: cyan;
  filter: brightness(1.2) drop-shadow(2px 2px 20px var(--white));
  transform: scale(1.2);
  transition: ease-in-out 300ms;
}

@media screen and ( max-width : 1080px ) {

  .cart__item {
    flex-direction: column;
    font-size: 1rem;
  }

  .productContent {
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .productContent p {
    justify-content: center;
  }

  .productPrice {
    justify-content: center;
  }

  .cart__item button {
    align-self: flex-end;
    position: absolute;
  }
}

@media screen and ( max-width : 660px ) {

  .container-title {
    gap: 10px;
    padding: 15px 0;
  }

  .items {
    padding: 40px 0;
  }

  .cart.noVisible {
    display: none;
  }

  .cart.visible {
    display: flex;
    border-radius: 0 0 20px 20px;
    box-shadow: var(--shadow-hover);
    position: absolute;
    min-height: fit-content;
    width: 80%;
    transition: all ease-in-out 0.3s;
  }

  .container-cartTitle {
    display: none;
  }

  .cart__item {
    border-radius: 10px;
  }
}
